/* line 1, ../sass/partials/_main.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/partials/_main.sass */
html {
  height: 100%;
}

/* line 9, ../sass/partials/_main.sass */
body {
  background: url("../img/background.jpg");
  background-size: 100% 100%;
  font-family: Arial;
}
@media (max-width: 651px) {
  /* line 9, ../sass/partials/_main.sass */
  body {
    background: #666;
  }
}

/* line 17, ../sass/partials/_main.sass */
p {
  color: #333;
}

/* line 20, ../sass/partials/_main.sass */
.mainScrn {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background: #333;
  padding: 1em;
  color: #ccc;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 651px) {
  /* line 20, ../sass/partials/_main.sass */
  .mainScrn {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 32, ../sass/partials/_main.sass */
.btn {
  background: #c72a35;
  padding: 0.5em;
  font-size: 1em;
  color: #ccc;
  cursor: pointer;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
